* 
{
	box-sizing: border-box;
}

.i
{
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;
	top: 0.25em;
	margin-right: 0.5em;
}

_:-ms-lang(x), .i { display: none; width: 0; height: 0; }

.i.send-message
{
	-webkit-mask-image: url(../img/icons/baseline-send-24px.svg);
	mask-image: url("../img/icons/baseline-send-24px.svg");
}

html, body
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
	color: rgb(20, 20, 20);
	background: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

html.modal-active, body.modal-active
{
	overflow: hidden;
	padding-right: 16px;
}

h1, h2, h3
{
	font-family: 'Raleway', serif;
	text-transform: uppercase;
	font-weight: 200;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

h1
{
	font-size: 3.5em;
}

h2
{
	font-size: 2.5em;
}

h3
{
	font-size: 1.5em;
	font-weight: 300;
}

p
{
	max-width: 50em;
}

a:link:not(.button), a:visited:not(.button)
{
	color: rgb(0, 127, 255);
	text-decoration: none;
}

a:link:not(.button):hover, a:visited:not(.button):hover
{
	color: rgb(255, 127, 0);
}

/*
 *
 * SPLASH
 *
 */
#splash
{
	width: 100%;
	height: calc(100vh - 10em);
	min-height: 500px;
	padding: 0;
	position: relative;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgb(20, 20, 20);
}

.p5wrapper
{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1010;
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}
.p5wrapper.hidden
{
	opacity: 0;
}

#title
{
	position: relative;
	z-index: 1020;
	text-align: center;
}

#title img
{
	margin: 0 0 2em 0;
}

#subtitle
{
	font-family: 'Raleway', serif;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 1.5em;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#subtitle .caret
{
	display: inline-block;
	width: 2px;
	height: 1em;
	background: white;
	margin-left: 2px;
}

/*
 *
 * SECTIONS
 *
 */
section
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4em 2em;
}

section .container
{
	width: 100%;
	max-width: 1000px;
	min-width: 300px;
}
/* WORK */
#work
{

}
.item
{
	padding: 4em 0;
	display: flex;
	border-bottom: 1px solid rgb(230, 230, 230);
}
.item:last-child
{
	border: none;
	padding-bottom: 0;
}
.item > :last-child
{
	margin-left: 2em;
}
.blurb
{
	width: 60%;
}
.blurb p
{
	margin: 2em 0;
}
.thumbnail
{
	width: 40%;
	display: flex;
	align-items: center;
}
.thumbnail img
{
	display: block;
	width: 100%;
	height: auto;
}
/* ABOUT */
#about
{
	background: rgb(240, 240, 240);
}
#about .item
{
	padding-top: 0;
}
#about p
{
	margin: 1em 0;
}
#about .blurb
{
	flex-grow: 1;
}
#about .thumbnail
{
	max-width: 256px;
}
#about img
{
	border-radius: 100%;
}
/* CONTACT */
#contact .container > :last-child
{
	margin-bottom: 0;
}
/*
 *
 * CONTACT FORM
 *
 */
:invalid, :-moz-submit-invalid, :-moz-ui-invalid
{
	box-shadow: none;
}
form
{
	display: block;
	width: 100%;
}
fieldset
{
	border: none;
	margin: 3em 0 0 0;
	padding: 0;
	position: relative;
}
.inputLabel
{
	font-size: 1em;
	text-transform: uppercase;
	position: absolute;
	transition: font-size 100ms linear, top 100ms linear, padding 100ms linear;
	cursor: text;
	top: 0;
	color: rgb(100, 100, 100);
	padding: 1em;
}
.inputField:not([value=""]) + .inputLabel,
.inputField:focus + .inputLabel
{
	font-size: 0.75em;
	padding: 0;
	top: -2em;
	cursor: default;
}
.inputField
{
	background: inherit;
	display: block;
	border: none;
	outline: none;
	color: inherit;
	font: inherit;
	line-height: inherit;
	background: rgb(240, 240, 240);
	border-bottom: 2px solid rgb(240, 240, 240);
	width: 100%;
	resize: none;
	padding: 1em;
}
.inputField:focus
{
	border-color: rgb(0, 127, 255);
}
.inputField:not([value=""]):invalid
{
	border-color: red;
	box-shadow: none;
}
.inputField:focus + .inputLabel
{
	color: rgb(0, 127, 255);
}
.inputField:not([value=""]):invalid + .inputLabel, 
.inputField:not([value=""]):invalid:focus + .inputLabel 
{
	color: red;
}
.button
{
	text-decoration: none;
	color: rgb(0, 127, 255);
	border: 2px solid rgb(0, 127, 255);
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 400;
	font-size: inherit;
	padding: 1em 1.5em;
	display: inline-block;
	cursor: pointer;
	background: transparent;
}
.button.large
{
	font-size: 1.25em;
}
.button.full-width
{
	display: block;
	width: 100%;
}
.button:hover
{
	background: rgb(0, 127, 255);
	color: white;
}
.button .i
{
	background-color: rgb(0, 127, 255);
}
.button:hover .i
{
	background-color: white;
}
.error, .success
{
	margin-bottom: 1em;
	text-transform: uppercase;
	display: block;
	width: 100%;
}
.error
{
	color: red;
}
.success
{
	color: rgb(0, 127, 255);
}
/*
 *
 * FOOTER
 *
 */
footer
{
	padding: 4em;
	background: rgb(20, 20, 20);
	text-align: center;
	color: white;
}
footer img
{
	display: inline-block;
	width: 64px;
	height: auto;
}
footer small, footer img
{
	opacity: 0.5;
}
footer ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
footer ul li
{
	margin-right: 1em;
}
footer ul > :last-child
{
	margin-right: 0;
}
footer ul li a
{
	color: white;
}
footer ul li a:hover
{
	text-decoration: none;
}
/*
 *
 * MODALS
 *
 */
.modal
{
	position: fixed;
	z-index: 3000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .75);
	display: none;
	padding: 0;
}
.modal.active
{
	display: block;

}
.modal .content
{
	overflow: auto;
	height: 100%;
	padding: 0 3em;
	z-index: 3010;
}

.modal .container
{
	position: relative;	
	background-color: white;
	height: auto;
	margin: 3em auto;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.modal header, .modal .info
{
	padding: 2em;
}
.modal .close
{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 48px;
	height: 48px;
	padding: 0;
	margin: 0;
	border: none;
	background-image: url("../img/icons/baseline-close-24px.svg");
	background-color: transparent;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 0.8;
}

/*
 *
 * SLIDESHOW
 *
 */
.slideshow .slide
{
	width: 100%;
	height: 100%;
	z-index: 4000;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
}
.slideshow .slide.active
{
	z-index: 4010;
}
.slideshow .slide img
{
	display: block;
	width: auto;
	height: 100%;
}
.slideshow .slide iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.slideshow-outer
{
	position: relative;
	width: 100%;
	height: 0;
	padding: 0 0 56.25% 0
}
.slideshow-inner
{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background: purple;
}


.slideshow .nav-button
{
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	z-index: 4020;
	border: none;
	border-radius: 100%;
	background-color: white;
	
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16),
				0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
}
.slideshow .nav-button:active
{
	background-color: rgb(200, 200, 200);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.slideshow .nav-button.left
{
	left: 0;
	transform: translate(-50%, -50%);
	background-image: url("../img/icons/baseline-chevron_left-24px.svg");
}
.slideshow .nav-button.right
{
	right: 0;
	transform: translate(50%, -50%);
	background-image: url("../img/icons/baseline-chevron_right-24px.svg");
}
/*
 *
 * MEDIA QUERIES
 *
 */
@media only screen and (max-width: 640px)
{
	header h1
	{
		font-size: 3em;
	}
	#title img
	{
		width: 192px;
		height: 192px;
	}
	
	#subtitle
	{
		font-size: 1.25em;
	}
}
@media only screen and (max-width: 800px)
{
	.thumbnail
	{
		display: none;
		width: 0;
	}
	.item > :last-child
	{
		margin: 0;
	}
	.blurb
	{
		width: 100%;
		margin-left: 0;
	}

	.modal .content
	{
		padding: 0 1em;
	}
	.slideshow
	{
		padding-bottom: 50px;
	}
	.slideshow .nav-button
	{
		top: 100%;
		width: 50%;
		height: 50px;
		border-radius: 0;
		margin: 0;
		padding: 0;
		background-size: 25%;
		box-shadow: none;
	}
	.slideshow .nav-button:active
	{

	}
	.slideshow .nav-button.left
	{
		transform: none;
	}
	.slideshow .nav-button.right
	{
		transform: none;
	}



}

@media only screen and (max-width: 1000px)
{

}